.aboutwrap {
    background-color: #caa;
    .title {
        display: block;
        margin-bottom: 50px;
        text-align: left;
        align-items: start;
    }
    .introWrap {
        width: 1200px;
        height: 246px;
        border-radius: 16px;
        background-color: #191918;
        display: flex;
        gap: 90px;
        align-items: center;
        margin-bottom: 20px;
        .des {
            width: 500px;
        }
        .imgwrap {
            width: 90px;
            height: 100px;
            .img {
                display: inline-block;
                width: 90px;
                height: 100px;
            }
        }
    }
}
