// main.scss
@use "./common.scss";

.aboutwrapper {
    @include common.wrapperstyle;
    justify-content: center;
    .aboutwrap {
        margin: 0 4rem;
        .maintitle {
            margin-bottom: 68px;
            width: 100%;
            &img {
                width: 48px;
            }
        }
        .introWrap {
            width: 95%;
            height: 246px;
            border-radius: 8px;
            background-color: #212120;
            display: flex;
            gap: 30px;
            align-items: center;
            margin-bottom: 40px;
            padding: 24px 40px;
            .title2 {
                flex: 2;
            }
            .body2 {
                flex: 8;
            }
            .aboutimg {
                width: 198px;
                height: 198px;

                img {
                    // display: inline-block;
                    width: 198px;
                    height: 198px;
                    object-fit: cover;
                }
            }
        }
    }
}
