//영역
@mixin wrapperstyle {
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

//폰트
@mixin fontStyle($size, $lineheight, $weight, $spacing: 0) {
    font-size: $size;
    line-height: $lineheight;
    font-weight: $weight;
    letter-spacing: $spacing;
}
//웹
.header1 {
    @include fontStyle(40px, 48px, 500);
}
.header2 {
    @include fontStyle(28px, 32px, 600);
}
.header3 {
    @include fontStyle(24px, 28px, 600);
}
.subtitle1 {
    @include fontStyle(18px, 32px, 600, 0.2px);
}
.subtitle2 {
    @include fontStyle(18px, auto, 400, 0);
}
.body1 {
    @include fontStyle(16px, 24px, 600, 0);
}
.body2 {
    @include fontStyle(16px, 24px, 400, 0);
}
.caption {
    @include fontStyle(14px, 16px, 500, 0);
}
//모바일
.Header1 {
}
.Title1 {
    @include fontStyle(24px, 32px, 600);
}
.Title2 {
    @include fontStyle(24px, 32px, 400);
}
.Title3 {
    @include fontStyle(18px, 28px, 600, 0.28px);
}
.Body1 {
    @include fontStyle(16px, 24px, 600);
}
.Body2 {
    @include fontStyle(16px, 24px, 500);
}
.Body3 {
    @include fontStyle(16px, 24px, 400);
}
.Caption1 {
    @include fontStyle(14px, 16px, 500);
}
.Caption2 {
    @include fontStyle(14px, 16px, 400);
}
.label {
    @include fontStyle(14px, 16px, 600);
}

//컬러
.white {
    color: #ffffff;
}
.gray1 {
    color: #f5f5f5;
}
.gray2 {
    color: #dbdbdb;
}
.gray3 {
    color: #c2c2c2;
}
.gray4 {
    color: #8f8f8f;
}
.gray5 {
    color: #373636;
}
.dim {
    color: #292929;
}
.black1 {
    color: #121212;
}
.black2 {
    color: #212120;
}
.red {
    color: #ff0a0e;
}

//공통
.flex {
    display: flex;
}
.flexC {
    display: flex;
    flex-direction: column;
}
body {
    font-family: "Pretendard";
    box-sizing: border-box;
}
.link {
    color: #fff;
    text-decoration: none;
}

.colorW {
    color: #fff;
}

.center {
    width: calc(100% - 80px);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 2.7rem;
    // background-color: rgb(77, 78, 77);
    display: flex;
    // justify-content: center;
    align-items: center;
}

//헤더
.header {
    width: 100vw;
    height: 80px;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    opacity: 1;
    transition: transform 2s ease, opacity 0.3s ease;
    animation: slidedown 1s ease forwards;
    @keyframes slidedown {
        0% {
            transform: translateY(-100px);
        }
        100% {
            transform: translateY(0px);
        }
    }

    .logo {
        margin-left: 18px;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: #d9d9d9;
    }
    //모바일네비
    .hamburger {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 24px;
        margin-right: 32px;
        border: none;
        background: transparent;
        cursor: pointer;
        padding: 0 auto;
        span {
            height: 2px;
            width: 24px;
            background: #fff;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }
        &.open span:nth-child(1) {
            transform: translateY(10px) rotate(45deg);
        }
        &.open span:nth-child(2) {
            opacity: 0;
        }
        &.open span:nth-child(3) {
            transform: translateY(-10px) rotate(-45deg);
        }
    }
    .nav {
        &.active {
            display: block;
            position: fixed;
            top: 80px;
            right: 0;
            background: #121212;
            height: 100vh;
            width: 100vw;
            transform: translateX(0);
            transition: transform 0.3s ease;
        }
        .navul {
            margin-right: 44px;
            justify-content: right;
            list-style: none;
            display: flex;
            flex-direction: row;
            .navli {
                padding-left: 88px;
            }
            .link,
            .linkto {
                color: #fff;
                text-decoration: none;
                text-align: center;
                background: transparent;
                all: unset;
                cursor: pointer;
                position: relative;
                text-decoration: none;
                color: #fff;
                padding-bottom: 10px;
            }
            .link::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                background-color: #ccc;
                transition: width 0.3s ease-in-out;
            }

            .link:hover::after {
                width: 100%;
            }
            // .linkto:hover {
            //     color: #faf;
            //     /* font-size: large; */
            // }
            .linkto {
                margin-right: 5px;
                &:hover::after {
                    content: "설문지페이지로 이동";
                    position: absolute;
                    height: 20px;
                    bottom: -20px;
                    left: 50%;
                    /* transform: translateX(-50%); */
                    text-wrap: nowrap;
                    font-size: 10px;
                    line-height: 20px;
                    color: #000;
                    background-color: #fff;
                    padding: 0 4px;
                    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    transition: color 0.8s ease-in-out;
                }
            }
        }
        &.hidden {
            transition: transform 2s ease, opacity 0.5s ease;
            pointer-events: none;
            transform: translateY(-100%);
            opacity: 0;
            /* display: none; */
        }
        &.headerbgc {
            background-color: #121212;
        }
    }
}

//스크롤바
.scrollwrap {
    width: 100%;
    padding-top: 80px;
    .scrollbar {
        position: fixed;
        z-index: 998;
        width: 80px;
        height: calc(100% - 80px);
        // background-color: #121212;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3.2rem;
        justify-content: center;
        .barTxt {
            // width: 100%;
            color: #fff;
            /* position: "fixed"; */
            transform: rotate(90deg);
            font-size: 18px;
            font-weight: 600;
            /* width: 2px; */
            /* height: 40%; */
            /* background-color: #fff; */
        }
        .gaugeContainer {
            position: "fixed";
            top: 0;
            left: 0;
            width: 2px;
            height: 50%;
            background-color: #fff;
            z-index: 9;
            .gaugeFill {
                height: 100%;
                background-color: rgb(229, 10, 10);
                transition: width 0.2s ease-out;
            }
        }
    }
}

//탑버튼
.twrap {
    right: 13px;
    bottom: 13px;
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 99;
    background-color: #fff;
    border-radius: 50%;
    .top {
        width: 20px;
        top: 25%;
        left: 25%;
        position: absolute;
    }
}

@media screen and (max-width: 1079px) {
    //스크롤바
    .scrollwrap {
        .scrollbar {
            display: none;
        }
    }
    .header {
        .logo {
            margin-left: 32px;
        }
        .hamburger {
            display: flex;
        }
        .nav {
            display: none;
            .navul {
                flex-direction: column;
                width: 261px;
                height: 562px;
                justify-content: space-between;
                margin-right: 0;
                padding-left: 0;
                .navli {
                    font-size: 48px;
                    line-height: 58px;
                    font-weight: 500;
                }
                .link,
                .linkto {
                    color: #fff;
                    text-decoration: none;
                    text-align: center;
                    background: transparent;
                    all: unset;
                    cursor: pointer;
                    position: relative;
                    text-decoration: none;
                    color: #fff;
                    padding-bottom: 10px;
                }
                .link::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    background-color: #ccc;
                    transition: width 0.3s ease-in-out;
                }

                .link:hover::after {
                    width: 100%;
                }
                // .linkto:hover {
                //     color: #faf;
                //     /* font-size: large; */
                // }
                .linkto {
                    margin-right: 5px;
                    &:hover::after {
                        content: "설문지페이지로 이동";
                        position: absolute;
                        height: 20px;
                        bottom: -20px;
                        left: 50%;
                        /* transform: translateX(-50%); */
                        text-wrap: nowrap;
                        font-size: 10px;
                        line-height: 20px;
                        color: #000;
                        background-color: #fff;
                        padding: 0 4px;
                        // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                        transition: color 0.8s ease-in-out;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .center {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
