body {
    font-family: "Pretendard";
}

.center {
    width: 1420px;
    height: 100vh;
    // margin: 0 auto;
    padding: 0 2.5rem;
    background-color: #faf;
    display: flex;
    justify-content: center;
    align-items: center;
}
