@use "./common.scss";

.exwrapper {
    @include common.wrapperstyle;
    height: 100%;
    .exwrap {
        margin: 0 8rem 0 4rem;
        display: flex;
        justify-content: space-between;
        .profile {
            width: 334px;
            justify-content: center;
            .titlewrap {
                width: 334px;
                height: 48px;
                margin-bottom: 107px;
                & img {
                    display: inline-block;
                    width: 48px;
                    vertical-align: middle;
                    margin-right: 16px;
                }
                & .header2 {
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 48px;
                }
            }
            .imgwrap {
                width: 248px;
                height: 248px;
                margin: 0 auto;
                & img {
                    width: 248px;
                    height: 248px;
                }
            }
            .me {
                margin-top: 50px;
                width: 334px;
            }
        }
        .deswrap {
            width: 60%;
            background-color: #212120;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            padding: 10px 10px 34px 10px;

            // margin: 0 100px;
            .des {
                // width: 100%;
                padding: 24px 34px 0 24px;
                display: flex;
                gap: 20px;
                .info {
                    padding-right: 20px;
                    border-right: 1.5px solid #fff;
                    vertical-align: middle;
                    flex: 1;
                    & .subtitle1::before {
                        width: 42px;
                        content: "졸업";
                        display: inline-block;
                        margin-right: 5px;
                        color: #000;
                        font-size: 16px;
                        border-radius: 4px;
                        text-align: center;
                        background-color: #f5f5f5;
                        vertical-align: middle;
                        &:nth-of-type(2) {
                            content: "이직";
                        }
                    }
                    & .change::before {
                        content: "이직";
                    }
                    & .retire::before {
                        content: "퇴사";
                    }
                    .project::before {
                        content: "수료";
                    }
                }
                .detail {
                    flex: 2;
                    & p:nth-of-type(1) {
                        width: 100%;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #373636;
                    }
                }
            }
            .subtitle1 {
                margin: 68px 0 24px 0;
            }
            .stack {
                width: 100%;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 0.5rem;
                .iconwrap {
                    width: 48px;
                    height: 48px;
                    display: inline-block;
                    background-color: #121212;
                    border-radius: 8px;
                    text-align: center;
                    padding: 10px;
                    box-sizing: border-box;
                    & img {
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }
    }
}
