.title {
    display: block;
    margin-bottom: 50px;
    text-align: left;
    align-items: start;
}
.exWrap {
    width: 100%;
    height: calc(100vh - 80px);
    padding: 166px 20px 0 20px;
    background-color: hsl(0, 0%, 80%);
    /* display: inline-block; */
    display: flex;
    /* gap: 90px; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* margin-bottom: 20px; */
}
.profile {
    width: 400px;
    background: #0a0;
}
.titlewrap {
    width: 334px;
    height: 48px;
}
.titlewrap img {
    display: inline-block;
    width: 48px;
}
.imgwrap {
    width: 400px;
}
.imgwrap img {
    width: 400px;
    height: 300px;
}
.me {
    width: 400px;
}
.deswrap {
    width: 700px;
    background-color: #191918;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 10px;
    margin: 0 100px;
}
.des {
    padding: 10px;
    background-color: #e49494;
    display: flex;
    gap: 10px;
}
.info {
    padding-right: 20px;
    border-right: 2px solid #fff;
}
.info p {
    color: #0a0;
}
.info p::after {
    content: "졸업";
    display: inline-block;
    margin-top: 0;
    color: #000;
    font-size: 16px;
    background-color: #ccc;
}
.detail p:nth-of-type(1) {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
.iconwrap {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #dff060;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
}
.iconwrap img {
    width: 40px;
}
