.intro {
    width: 100vw;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    // background-color: #0a0;
    .intro-loading {
        justify-content: center;
        // transform: rotate(-90deg);
        .loading {
            justify-content: center;
        }
        .progress {
            animation: fillGauge 0.8s ease-out forwards;
        }
        @keyframes fillGauge {
            0% {
                stroke-dashoffset: 125.6;
            }
            100% {
                stroke-dashoffset: 0;
            }
        }

        .comment {
            display: block;
            font-size: 36px;
            font-weight: 600;
        }
        .hidden {
            position: absolute;
            width: 50vw;
            height: 300px;
            background-color: #fff;
            top: 25%;
            left: 25%;
        }
    }
    .intro-txt {
        justify-content: center;
        flex-direction: row;
        overflow: hidden;
        position: absolute;
        background-color: #fff;
        width: 90%;
        height: 25%;
        top: 70%;
        // left: 50%;
        .uptxt {
            padding-right: 10px;
            opacity: 0;
            transform: translateY(-20px); /* 초기 위치 */
            animation: fade 0.4s ease-out forwards;
            font-size: 24px;
            font-weight: 600;
        }
        .uptxt:nth-child(1) {
            // animation-delay: 1s;
        }
        .uptxt:nth-child(2) {
            animation-delay: 0.2s;
        }
        .uptxt:nth-child(3) {
            animation-delay: 0.4s;
            font-weight: 700;
            color: #0054ff;
        }
        @keyframes fade {
            0% {
                opacity: 0.8;
                // transform: translateY(20px);
            }
            // 50% {
            //     opacity: 1;
            //     transform: translateY(0); /* 위로 올라옴 */
            // }
            // 70% {
            //     opacity: 0.5;
            //     transform: translateY(10px); /* 딜레이 효과 */
            // }
            100% {
                opacity: 1;
                transform: translateY(20px);
            }
        }
        // @keyframes slideDown {
        //     0% {
        //         // opacity: 1;
        //         // transform: translateY(20px);
        //     }
        //     100% {
        //         opacity: 0;
        //         transform: translateY(40px);
        //     }
        // }
    }
}
.Ybar {
    display: flex;
    .bar {
        position: absolute;
        width: 320px;
        height: 100vh;
        background-color: #121212;
        transform: translateY(-150%); /* 화면 위로 시작 */
        animation: slideDown 0.3s ease-out forwards;
        overflow: hidden;
        &:nth-of-type(1) {
            left: 0px;
            animation-delay: 2.8s;
        }
        &:nth-of-type(2) {
            left: 320px;
            animation-delay: 3s;
        }
        &:nth-of-type(3) {
            left: 640px;
            animation-delay: 3.2s;
        }
        &:nth-of-type(4) {
            left: 960px;
            animation-delay: 3.4s;
        }
        &:nth-of-type(5) {
            left: 1240px;
            animation-delay: 3.6s;
        }
        &:nth-of-type(6) {
            left: 1560px;
            animation-delay: 3.8s;
        }
    }
    @keyframes slideDown {
        0% {
            transform: translateY(-150%); /* 화면 위에서 시작 */
        }
        100% {
            transform: translateY(-50%); /* 화면을 채움 */
        }
    }
}
@media screen and (max-width: 1079px) {
    .Ybar {
        .bar {
            width: 256px;
            &:nth-of-type(2) {
                left: 256px;
            }
            &:nth-of-type(3) {
                left: 512px;
            }
            &:nth-of-type(4) {
                left: 768px;
            }
            &:nth-of-type(5) {
                left: 1024px;
            }
            &:nth-of-type(6) {
                left: 1280px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .intro {
        .intro-loading {
            justify-content: center;
            .loading {
                width: 50px;
                height: 50px;
            }
        }
        .intro-txt {
            .uptxt {
                padding-right: 10px;
                font-size: 16px;
            }
        }
    }
    .Ybar {
        .bar {
            width: 120px;
            &:nth-of-type(2) {
                left: 120px;
            }
            &:nth-of-type(3) {
                left: 240px;
            }
            &:nth-of-type(4) {
                left: 360px;
            }
            &:nth-of-type(5) {
                left: 480px;
            }
            &:nth-of-type(6) {
                left: 600px;
            }
        }
    }
}
