.main {
    opacity: 0;
    animation: fadein 1s linear forwards; /* 페이드인 애니메이션 */
    .header {
        animation: slidedown 1s ease forwards; /* 페이드인 애니메이션 */
    }
    .center {
        justify-content: left;
        height: calc(100vh - 100px);
        .main-txt {
            margin-left: 200px;
            font-size: 32px;
            font-weight: 600;
        }
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slidedown {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}
