.main {
    background-color: #121212;
    opacity: 0;
    animation: fadein 1s linear forwards; /* 페이드인 애니메이션 */
    .header {
        animation: slidedown 1s ease forwards; /* 페이드인 애니메이션 */
    }
    @keyframes fadein {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes slidedown {
        0% {
            transform: translateY(-100px);
        }
        100% {
            transform: translateY(0px);
        }
    }

    .maincontainer {
        // width: calc(100% - 926px);
        position: relative;
        // width: 1280px;
        margin: 0 auto;
        overflow: hidden;
        // height: calc(100% - 80px);
        // background-color: antiquewhite;
        justify-content: space-between;
        height: calc(100vh - 80px);
        // height: 100vh;
        // align-items: center;
        // justify-content: left;
        // margin-right: 0;
        .mainTxt {
            // width: calc(100% - 926px);
            // margin-left: 120px;

            // padding-left: 2.7rem;
            // display: inline;
            flex: 1;
            z-index: 10;
            border-radius: 8px;
            width: 780px;
            height: 260px;
            background-color: rgba(0, 0, 0, 0.4);
            // left: 10px
            top: 50%;
            left: 10%;
            position: absolute;
            padding: 50px 40px;
            box-sizing: border-box;
            // position: relative;
            .subtitle1 {
                width: 91px;
                height: 44px;
                background-color: #0054ff;
                border-radius: 8px;
                text-align: center;
                line-height: 44px;
                margin-bottom: 16px;
            }
            p {
                margin: 0;
                // &:nth-of-type(1) {
                //     width: 78px;
                //     height: 78px;
                //     margin-bottom: 32px;
                // }
                // & img {
                //     width: 78px;
                //     height: 78px;
                // }
                &:nth-of-type(4) {
                    margin-top: 16px;
                }
            }
        }
        .imgwrap {
            width: 100%;
            height: 100%;
            height: calc(100vh - 100px);

            margin: 0 19px;
            .mainimg {
                width: 100%;
                height: 100%;
                // height: auto;
                object-fit: cover;
                border-radius: 24px;
            }
        }
    }
    .scollicon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 20px;
        width: 100%;
        height: 50px;
        // background-color: #fff;
        z-index: 50;
        .bottomicon {
            width: 25px;
            height: 25px;
            // background-color: #aff;
            animation: bounce 1.5s infinite;
        }
        @keyframes bounce {
            0%,
            100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
        }
    }
}

@media screen and (max-width: 1079px) {
    .main {
        .maincontainer {
            .mainTxt {
                width: 680px;
                left: 6%;
                padding: 50px 20px;
            }
        }
        .scollicon {
            display: none;
        }
    }
}

@media screen and (max-width: 767px) {
    .main {
        .maincontainer {
            .mainTxt {
                width: 80%;
                height: 192px;
                top: 60%;
                left: 10%;
                padding: 30px 16px;
                .subtitle1 {
                    width: 67px;
                    height: 20px;
                    border-radius: 4px;
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 16px;
                    padding: 2px 4px;
                }
                p {
                    margin: 0;
                    font-size: 18px;
                    line-height: 22px;
                    &:nth-of-type(4) {
                        margin-top: 12px;
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }
        .scollicon {
            display: none;
        }
    }
}
