.projectpopwrap {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;

    .projectpop {
        // background-color: rgba(0, 0, 0);
        padding: 120px 0;
        width: 100%;
        max-width: 1200px; // 최대 너비 설정
        height: auto;
        position: relative;
        z-index: 1000;
        .popclose {
            position: absolute;
            top: 73px;
            right: 0;
            width: 32px;
            height: 32px;
            cursor: pointer;
            z-index: 10001;
        }
        .inner {
            // width: 100%;
            height: 100%;
            overflow-y: auto;
            background-color: #fff;
            border-radius: 8px 8px 0 0;
            padding: 48px 40px;
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                display: none; /* Chrome, Safari, Edge */
            }
            header {
                // background-color: rgb(240, 252, 252);
                .subtitle1 {
                    margin-bottom: 32px;
                }
                .pimgwrap {
                    width: 100%;
                    height: 574px;
                    margin-bottom: 59px;
                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .deswrap {
                // width: 100%;
                background-color: rgb(219, 176, 227);
                // gap: 32px;
                // justify-content: space-between;
                aside {
                    min-width: 192px;
                    background-color: rgb(170, 244, 135);
                    & p:nth-of-type(1) {
                        color: #ad8957;
                    }
                }
                main {
                    // width: 1051px;
                    .section {
                        width: 100%;
                        background-color: rgb(124, 148, 253);
                        margin-bottom: 48px;
                        position: relative;
                        &:nth-of-type(2) .pdes ul {
                            background-color: #dbdbdb;
                            border-radius: 8px;
                            padding-top: 8px;
                            padding-bottom: 8px;
                        }
                        &:nth-of-type(2) .pdes ul,
                        &:nth-of-type(3) .pdes ul,
                        &:nth-of-type(4) .pdes ul {
                            padding-left: 30px;
                        }
                        &:nth-of-type(2) .pdes,
                        &:nth-of-type(3) .pdes,
                        &:nth-of-type(4) .pdes {
                            padding-left: 0px;
                        }

                        .ptitle {
                            margin-bottom: 12px;
                            &::before {
                                content: "";
                                display: block;
                                position: absolute;
                                width: 3px;
                                height: 32px;
                                background-color: #bf976d;
                                left: 0;
                                top: 0;
                            }
                            padding-left: 8px;
                        }

                        .pdes {
                            padding-left: 12px;
                            .screen {
                                padding-right: 12px;
                                .flex {
                                    width: 100%;
                                    height: 100%;
                                    justify-content: space-between;
                                    img {
                                        width: 30%;
                                        // height: 400px;
                                    }
                                }
                                .on {
                                    display: block;
                                }
                                .off {
                                    display: none;
                                }
                            }
                            // .caption1 {
                            //     margin-bottom: 8px;
                            // }
                            .list {
                                margin-bottom: 8px;
                            }
                            .flex {
                                align-items: center;
                            }
                            .fingericon {
                                width: 24px;
                                height: 24px;
                                margin-right: 8px;
                            }
                            .accordion {
                                cursor: pointer;
                                margin: 0;
                            }
                        }
                    }
                    background-color: rgb(237, 216, 57);
                }
            }
        }
    }
}
