.projectpopwrap {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100vw;
    height: 100%;
    // height: calc(100% - 80px);
    // min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    .projectpop {
        position: relative;
        width: 100%;
        max-width: 1100px;
        height: 100%;
        padding: 80px 0;
        z-index: 1000;
        .popcontent {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            .popclose {
                position: absolute;
                top: 38px;
                right: 0;
                width: 32px;
                height: 32px;
                cursor: pointer;
                z-index: 1000;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .floatingwrapper {
                position: absolute;
                top: 134px;
                right: -80px;
                gap: 24px;
                z-index: 10002;
                .pjicon {
                    display: flex;
                    flex-direction: column;
                    .linkbtn {
                        align-items: center;
                        text-decoration: none;
                        color: white;
                        .iconwrap {
                            width: 40px;
                            height: 40px;
                            background-color: #f5f5f5;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .floatingicon {
                                width: 28px;
                                height: 28px;
                            }
                        }
                        .subtitle1 {
                            margin: 0px;
                        }
                    }
                }
            }

            .inner {
                // width: 100%;
                height: 100%;
                height: calc(100% - 80px);
                overflow-y: auto;
                background-color: #fff;
                border-radius: 8px 8px 0 0;
                padding: 48px 40px;
                scrollbar-width: none; /* Firefox */
                -ms-overflow-style: none;
                &::-webkit-scrollbar {
                    display: none; /* Chrome, Safari, Edge */
                }
                header {
                    .header3 {
                        margin-bottom: 40px;
                    }
                    .pimgwrap {
                        width: 100%;
                        height: 510px;
                        margin-bottom: 59px;
                        & img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            // object-position: center top;
                        }
                    }
                }

                .deswrap {
                    aside {
                        min-width: 220px;
                        & p:nth-of-type(1) {
                            color: #ad8957;
                            margin: 0;
                        }
                        .body1,
                        .caption2 {
                            margin: 0;
                            line-height: 24px;
                        }
                        .body1 {
                            width: 178px;
                            margin: 8px 0 16px;
                        }
                    }
                    main {
                        .section {
                            width: 100%;
                            margin-bottom: 48px;
                            position: relative;
                            &:nth-of-type(2) .pdes ul,
                            &:nth-of-type(3) .pdes ul,
                            &:nth-of-type(4) .pdes ul,
                            &:nth-of-type(5) .pdes ul {
                                padding-left: 30px;
                            }
                            &:nth-of-type(2) .pdes,
                            &:nth-of-type(3) .pdes,
                            &:nth-of-type(4) .pdes,
                            &:nth-of-type(5) .pdes {
                                padding-left: 0px;
                            }

                            .ptitle {
                                margin-bottom: 12px;
                                &::before {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    width: 3px;
                                    height: 32px;
                                    background-color: #ad8957;
                                    left: 0;
                                    top: 0;
                                }
                                padding-left: 12px;
                            }

                            .pdes {
                                .screen {
                                    padding: 0 12px;
                                    .flex {
                                        width: 100%;
                                        height: 100%;
                                        justify-content: space-between;
                                        flex-wrap: wrap;
                                        .siteimg {
                                            width: 30%;
                                            aspect-ratio: 1/0.633333;
                                            // overflow: hidden;
                                            transition: transform 0.3s ease;
                                            &:hover {
                                                transform: scale(1.05);
                                            }
                                            img {
                                                width: 100%;
                                                height: 100%;
                                                object-fit: cover;
                                                object-position: center;
                                                cursor: pointer;
                                            }
                                            .imgdes {
                                                margin: 12px 0 36px 0;
                                                text-align: center;
                                            }
                                        }
                                    }
                                }
                                .caption1 {
                                    margin-bottom: 8px;
                                }
                                .outline {
                                    line-height: 22px;
                                }
                                .list {
                                    margin-bottom: 8px;
                                }
                                .flex {
                                    align-items: center;
                                }
                                .fingericon {
                                    width: 24px;
                                    height: 24px;
                                    margin-right: 8px;
                                }
                                .accordion {
                                    margin: 0;
                                }
                                .select {
                                    line-height: 1.6;
                                }
                            }
                        }
                        .linkon {
                            display: none;
                        }
                    }
                }
            }
            .imgpopup {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.95);
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 99999;
                .popupcon {
                    background: #fff;
                    border-radius: 10px;
                    position: relative;
                    width: 810px;
                    height: 470px;
                    .popupimage {
                        width: 100%;
                        height: 100%;
                        display: block;
                        border-radius: 8px;
                        object-fit: cover;
                        object-position: center top;
                    }
                    .closebutton {
                        all: unset;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        border: none;
                        cursor: pointer;
                        img {
                            border-radius: 100%;
                            border-color: #fff;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1279px) {
    .projectpopwrap {
        .projectpop {
            max-width: 768px;
            padding: 48px 0 0 0;
            // z-index: 1000;
            .popcontent {
                .popclose {
                    top: 10px;
                    // right: 0;
                    width: 28px;
                    height: 28px;
                }
                .floatingwrapper {
                    display: none;
                }
                .inner {
                    border-radius: 0;
                    padding: 32px;
                    header {
                        .header3 {
                            margin-bottom: 36px;
                        }
                        .pimgwrap {
                            width: 704px;
                            height: 425px;
                            margin-bottom: 48px;
                        }
                        // .pimgwrap {
                        //     width: 100%;
                        //     height: 510px;
                        //     margin-bottom: 59px;
                        //     & img {
                        //         width: 100%;
                        //         height: 100%;
                        //         object-fit: cover;
                        //         // object-position: center top;
                        //     }
                        // }
                    }
                    .deswrap {
                        aside {
                            min-width: 192px;
                            .body1,
                            .caption2 {
                                font-size: 14px;
                                line-height: 22px;
                            }
                            .body1 {
                                width: 155px;
                                line-height: 16px;
                            }
                        }
                        main {
                            .linkon {
                                display: block;
                                .linkwrapper {
                                    gap: 12px;
                                    margin-top: 16px;
                                    .linkwrap {
                                        display: flex;
                                        .linkbtnR {
                                            align-items: center;
                                            text-decoration: none;
                                            color: #373636;
                                            .iconwrapR {
                                                width: 40px;
                                                height: 40px;
                                                background-color: #f5f5f5;
                                                border-radius: 50%;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                .floatingiconR {
                                                    width: 28px;
                                                    height: 28px;
                                                }
                                            }
                                            .body2 {
                                                margin: 0px;
                                                margin-left: 4px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .imgpopup {
                        .popupcon {
                            border-radius: 0;
                            width: 640px;
                            height: 370px;
                            .popupimage {
                                border-radius: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .projectpopwrap {
        .projectpop {
            padding: 48px 0 0 0;
            max-width: 360px; // 최대 너비 설정
            .popcontent {
                .popclose {
                    top: 12px;
                    width: 24px;
                    height: 24px;
                }
                .inner {
                    padding: 32px 16px;
                    header {
                        .header3 {
                            margin-bottom: 24px;
                        }
                        .pimgwrap {
                            width: 328px;
                            height: 198px;
                            margin-bottom: 24px;
                            img {
                                width: 328px;
                            }
                        }
                    }
                    .deswrap {
                        flex-direction: column;
                        main {
                            margin-top: 32px;
                            .section {
                                // padding-bottom: 24px;
                                .pdes {
                                    .screen {
                                        padding: 0 12px;
                                        .flex {
                                            width: 100%;
                                            height: 100%;
                                            gap: 60px;
                                            .siteimg {
                                                width: 100%;
                                                height: auto;
                                                // aspect-ratio: 1/0.5333;
                                                img {
                                                    border: 1px solid #f5f5f5;
                                                }
                                                .imgdes {
                                                    margin-bottom: 12px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .linkon {
                                .linkwrapper {
                                    gap: 12px;

                                    .linkwrap {
                                        .linkbtnR {
                                            .iconwrapR {
                                                width: 32px;
                                                height: 32px;

                                                .floatingiconR {
                                                    width: 24px;
                                                    height: 24px;
                                                }
                                            }
                                            .body2 {
                                                // margin: 0px;
                                                // margin-left: 4px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .imgpopup {
                        .popupcon {
                            border-radius: 0;
                            width: 300px;
                            height: 180px;
                            .popupimage {
                                border-radius: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
