@use "./common.scss";

.projectwrapper {
    @include common.wrapperstyle;
    .projectwrap {
        max-width: 1200px;
        width: 100%;
        box-sizing: border-box;
        .maintitle {
            margin-bottom: 40px;
            width: 100%;
            align-items: center;
            padding-bottom: 32px;
            border-bottom: 1px solid #d9d9d9;
            & img {
                display: inline-block;
                width: 38px;
                height: 38px;
                // vertical-align: middle;
            }
            .header3 {
                display: inline-block;
                vertical-align: middle;
                line-height: 38px;
                margin: 8px 0;
                &:nth-of-type(1) {
                    color: #1f6ebe;
                }
            }
            .caption2 {
                margin: 0;
            }
        }
        .line {
            display: flex;
            gap: 20px;
            // flex-direction: row;
            flex-wrap: wrap;
            // justify-content: center;
            // padding-right: 0;
            // margin-right: 0;
            width: 1200px;
            .imgwrap {
                width: 388px;
                height: 454px;
                position: relative;
                margin-bottom: 47px;
                display: flex;
                flex-direction: column;
                padding-bottom: 20px;
                border-bottom: 1px solid #d9d9d9;
                &:nth-of-type(1),
                :nth-of-type(2) {
                    margin-left: auto;
                    margin-right: 0;
                }
                &:nth-of-type(3) {
                    margin-right: 0;
                }
                &:nth-of-type(4) {
                    margin-right: auto;
                    margin-left: 0;
                }
                .imgbg {
                    // position: absolute;
                    width: 100%;
                    height: 362px;
                    border-radius: 8px;
                    cursor: pointer;
                    // &:hover {
                    //     background-color: rgba(0, 0, 0, 0.6);

                    // }
                }

                .hoverimg {
                    position: absolute;
                    top: 0;
                    left: 4px;
                    transition: opacity 0.3s ease;
                    opacity: 0;
                    // background-color: rgba(0, 0, 0, 0);
                    width: 381px;
                    height: 362px;
                    border-radius: 8px;
                    &:hover {
                        // border-radius: 8px;
                        cursor: pointer;
                        opacity: 1;
                        background-color: rgba(0, 0, 0, 0.6);
                    }
                    .projectlogo {
                        width: auto;
                        height: 76px;
                        z-index: 2;
                        position: absolute;
                        top: 40px;
                        left: 63px;
                    }
                    .mainbg {
                        width: 262px;
                        height: 156px;
                        border-radius: 8px;
                        //     background-color: #000;
                        position: absolute;
                        bottom: 49px;
                        right: 0;
                        .mainframe {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            // width: 262px;
                            // height: 156px;
                            border-radius: 8px;
                            border: 4px solid #000;
                            bottom: 0;
                            right: 0px;
                            object-fit: cover;
                        }
                    }
                    // }
                    // &::after {
                    //     content: "프로젝트 자세히보기↗︎";
                    //     position: absolute;
                    //     height: 20px;
                    //     top: 212px;
                    //     left: 148px;
                    //     /* transform: translateX(-50%); */
                    //     text-wrap: nowrap;
                    //     font-size: 10px;
                    //     line-height: 20px;
                    //     color: #000;
                    //     background-color: #0054ff;
                    //     color: #fff;
                    //     font-weight: 600;
                    //     padding: 0 4px;
                    //     // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    //     transition: color 0.8s ease-in-out;
                    //     cursor: pointer;
                    // }
                }
                .des {
                    width: 380px;
                    color: #fff;
                    .subtitle1 {
                        margin: 24px 0 8px 0;
                    }
                    .Caption2 {
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1279px) {
    .projectwrapper {
        margin-top: 108px;
        padding: 0 32px;
        .projectwrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            .maintitle {
                margin-bottom: 32px;
            }
            .line {
                gap: 16px;
                width: 90%;
                min-width: 704px;
            }
        }
    }
}

@media screen and (max-width: 944px) {
    .projectwrapper {
        .projectwrap {
            .line {
                width: 100%;
                justify-content: center;
                .imgwrap {
                    width: 344px;
                    height: 376px;
                    margin-bottom: 24px;
                    &:nth-of-type(1),
                    :nth-of-type(2) {
                        margin-left: 0;
                        margin-right: 0;
                    }
                    &:nth-of-type(3) {
                        margin-right: 0;
                    }
                    &:nth-of-type(4) {
                        margin-right: 0;
                        margin-left: 0;
                    }
                    .imgbg {
                        width: 100%;
                        height: 268px;
                        object-fit: cover;
                    }
                    .hoverimg {
                        width: 344px;
                        height: 268px;
                        left: 0;
                        .projectlogo {
                            height: 56px;
                            top: 30px;
                            left: 76px;
                        }
                        .mainbg {
                            width: 182px;
                            height: 106px;
                            bottom: 29px;
                        }
                    }
                    .des {
                        width: 344px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .projectwrapper {
        margin-top: 68px;
        padding: 0 16px;
        .projectwrap {
            .maintitle {
                margin-bottom: 16px;
                align-items: flex-start;
                padding-bottom: 16px;
                img {
                    width: 24px;
                    height: 24px;
                }
                .header3 {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            .line {
                width: 100%;
                justify-content: center;
                min-width: 328px;
                height: auto;
                .imgwrap {
                    width: 100%;
                    height: auto;
                    padding-bottom: 16px;
                    .imgbg {
                        width: 100%;
                        min-height: 218px;
                        object-fit: cover;
                    }
                    .hoverimg {
                        width: 100%;
                        min-width: 328px;
                        left: 0;
                        .projectlogo {
                            height: 56px;
                            top: 25%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                        .mainbg {
                            width: 222px;
                            height: 116px;
                            bottom: 29px;
                        }
                    }
                    .des {
                        width: 100%;
                        min-width: 328px;
                    }
                }
            }
        }
    }
}
